.navbar {
  background: #325D88;
  border-radius: 0; }
  .navbar .navbar-brand {
    color: #ffffff; }

.main {
  min-height: 65%; }

.footer {
  background: #FFFFFF;
  border-top: 3px #325D88;
  margin-top: 50px;
  padding-top: 8px; }
