@import '../common/global';

.navbar {
    background: $brand-primary;
    border-radius: 0;
    .navbar-brand {
        color: #ffffff;
    }
}

.main {
    min-height: 65%;
}

.footer {
    background: #FFFFFF;
    border-top: 3px $brand-primary;
    margin-top: 50px;
    padding-top: 8px;
}

