@import '../common/global';

.navbar {
    background: $site_color;
    border-radius: 0;
    .navbar-brand {
        color: #ffffff;
    }
}

.main {
    min-height: 65%;
}

.footer {
    background: #FFFFFF;
    border-top: 3px $site_color_dark solid;
    margin-top: 50px;
    padding-top: 8px;

    h4 {
        color: $site_color_dark;
    }
}
