.idea
coverage
node_modules
unit_coverage
bower_components
typings
build/**
typings/globals/**
client/**/*.js
!client/**/config.js
client/**/*.css
client/**/*.js.map
server/**/*.js
server/**/*.js.map
client/dist/**
client/test/**
node_modules/**
*.log
dist/**
