@import '../common/global';

.votes{
    border-right: 3px solid $brand-primary;
    padding-right: 60px;
    &-btn {
        margin-bottom: 10px;
        .btn {
            padding: 5px;
            font-size: 16px;
            font-weight: normal;
            text-transform: none;
        }
    }

    &-ncard {
        padding-top: 40px;
        padding-bottom: 20px;
        button{
            font-size: 16px;
            font-weight: normal;
            text-transform: none;
        }
    }
    h3{
        padding-bottom: 20px;
    }
}

.users {
    h3{
        padding-bottom: 20px;
    }

    &-list {
        list-style: none;
        padding-left: 10px;
        &-item{
            font-size: 12pt;
            margin-bottom: 8px;
        }
    }
}

.padding-bottom-40{
    padding-bottom: 40px;
}

.history-card{
    text-align: center;
    color: #fff;
    background-color: $brand-success;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
}
