<div class="row">
    <h2>{{room.name}}</h2>
    
    <div class="row" *ngIf="vote.cardId != null">
        <div class="col-md-8">
            <div *ngIf="!vote.actualVote" >
                <div *ngFor="let val of cardsValues" class="col-md-2 col-xs-3" >
                    <button class="btn btn-default btn-block"  (click)="selectVoteValue(val)" >{{val}}</button>
                </div>
            </div>
            <div *ngIf="vote.actualVote" >
                <h1>{{vote.actualVote}}</h1>
                <p><button (click)="clearLocalVote()" >Change vote</button></p>
            </div>         
        </div>
        <div class="col-md-4">
            <h4>{{getCardById(vote.cardId).title}}</h4>
            <ul>
                <li *ngFor="let user of room.users" class="col-md-3">
                    {{user.name}}
                    <span *ngIf="user.hasVoted"> Ok </span> 
                    <span *ngIf="user.isVisitor"> Visitor </span> 
                    <span *ngIf="!user.hasVoted && !user.isVisitor"> Waiting </span> 
                    <span style="color:red;" *ngIf="!user.isActive"> (Disconnected) </span> 
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="vote.isConsensus" class="col-md-12">
        Consensus!
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-5">
            <input class="form-control" type="text" placeholder="card title" [(ngModel)]="cardTitle" />
        </div>
        <button class="btn btn-primary" (click)="createCard()" >Estimate a new card</button>
    </div>

    <h3>cards</h3>
    <div *ngFor="let card of room.cards" class="col-md-3">
        <p>card name : {{card.title}}</p>
    </div>
</div>