$site_color: #26C281;
$site_color_dark: #00B16A;

$gray-base:              #000 !default;
$gray-darker:            #3E3F3A !default;
$gray-dark:              #8E8C84 !default;
$gray:                   #98978B !default;
$gray-light:             #DFD7CA !default;
$gray-lighter:           #F8F5F0 !default;

$brand-primary:         #325D88 !default;
$brand-success:         #93C54B !default;
$brand-info:            #29ABE0 !default;
$brand-warning:         #F47C3C !default;
$brand-danger:          #d9534f !default;