nav.navbar {
    background: #26C281;
    border-radius: 0px;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.main {
    min-height: 65%;
}

.footer {
    background: #FFFFFF;
    border-top: 3px #00B16A solid;
    margin-top: 50px;
}

.footer h4 {
    color: #00B16A;
}